.regionFooter
{
    width: 100%;
}

.text_choose
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 40px 0 20px;
}

.text_choose h2
{
    color: #666;
    padding: 0 16px 0 0;
    font-size: 21px;
    text-transform: uppercase;
    white-space: nowrap;
}

.text_choose .rectengle
{
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #DCDEE3;
}

.lang_list
{
    width: 100%;
    display: flex;
    align-items: center;
}

.lang_item
{
    width: 153.63px;
    padding: 12px 0 20px;
    display: flex;
    align-items: center;
}

.lang_item img
{
    width: 24px;
    height: 24px;
    margin-right: 10px;
    object-fit: contain;
}

.lang_item p
{
    color: #666;
    font-size: 14.5px;
    line-height: 24px;
}

.lang_list a
{
    width: 153.63px;
    padding: 12px 0 20px;
    font-size: 14.5px;
    line-height: 24px;
    color: #33c5ff;
}