.col_right
{
    width: 260px;
    height: 100%;
    margin-left: 20px;
    cursor: pointer;
}

.top_btn
{
    display: block;
    width: 100%;
    height: 32px;
    line-height: 33px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #FF4F00;
    position: relative;
    text-align: center;
    margin-top: 8px;
    outline: none;
    border: none;
}

.list
{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 32px;
}

.box
{
    position: relative;
    display: flex;
    flex: 1;
    border-bottom: 1px solid #dcdee3b3;
    overflow: hidden;
    flex-direction: column;
    align-items: baseline;
    padding-bottom: 20px;
}

.title
{
    margin: 20px 40px 14px 0;
    word-break: break-word;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    max-height: 44px;
    max-width: 198px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.source_now
{
    display: inline-block;
    max-width: 110px;
    padding: 0 10px;
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
    line-height: 21px;
    height: 20px;
    background: #FF4F00;
}

.image
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.image img
{
    width: 60px;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
}